.a_1{
    text-transform: uppercase !important;
}

.navbar-inverse {
    background-color: #F0F0F0 !important;
    border-color: #F0F0F0 !important;
}

body{
    margin-top: 50px  !important;
    font-family: cursive !important;
}

.INFO_BLOCK{
    position: fixed;
    top: 50px;
    width: 100%;
    background-color: rgba(255, 231, 0, 0.69);
    text-align: center;
    z-index: 999999;
    display: none;
}

.INFO_BLOCK div{
    margin: 20px 15px;
}

.INFO_BLOCK a{
    font-size: 15px;
    color: red;
    font-weight: bold;
}

.login{
    display: none;
    position: fixed;
    right: 0px;
    top: 20px;
    width: 300px;
    height: 230px;
    z-index: 999999;
    background-color: white;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #474040;
    border-radius: 17px;
}

.block_login {
    padding: 5px 38px;
}

.CLOSE{
    position: absolute;
    right: 10px;
    font-size: 22px;
    cursor: pointer;
}
.category_block{
    width: 80%;
    max-width: 550px;
    margin: 2.5em auto 1em;
    padding: 1em;
    border: 1px solid #ccc;
    box-shadow: 20px -15px 10px 5px rgba(0, 0, 0, .2);
}

.category_title{
    text-align: center;
    padding: 0px 15px;
}
.category_image{
    text-align: center;
    margin: 5px 5px;
}

.product_block{
    width: 100%;
    display: table;
    margin: 2.5em auto 1em;
    padding: 1em;
    border: 1px solid #ccc;
    box-shadow: 20px -15px 10px 5px rgba(0, 0, 0, .2);
}

.product_block1{
    height: 200px;
    margin: 10px auto;
    padding: 1em;
    box-shadow:
    0 1px 4px rgba(0, 0, 0, .3),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
    border-radius: 0 0px 20px 20px;
}

.product_block1 a{
    font-size: 12px;
    color:#101010;
}

.product_block1:hover{
    box-shadow: 0 0 30px 5px #808080;
}

.category_title a{
    cursor: pointer;
}

.category_title a:hover{
    text-decoration: none;
    color: red;
}

.footer{
    background-color: #F0F0F0;
    padding: 40px 0px;
}

.prise_block{
    position: absolute;
    bottom: 30px;
    padding: 5px 5px;
    background-color: rgba(131, 245, 247, 0.43);
    border-radius: 0px 20px 0px 20px;
    margin: -20px -14px;
}

.prise_block a{
    font-size:16px;
    font-weight: 600;

}

.old_prise_block{
    position: absolute;
    bottom: 61px;
    padding: 5px 5px;
    background-color: #E2CCBE;
    border-radius: 20px 0px 20px 0px;
    margin: -19px -14px;
}

.old_prise_block a{
    font-size:11px;
    font-weight: 600;
    color: black;
    text-decoration: line-through;

}

.title_category{
    font-size: 16px;
    color: #101010;
    font-weight: 600;
}

.block_batton{
    position: absolute;
    bottom: 30px;
    right: 29px;
    padding: 5px 15px;
    background-color: rgba(131, 245, 247, 0.43);
    border-radius: 20px 0px 20px 0px;
    margin: -20px -14px;
}

.block_batton:hover{
    background-color: red;
}

.block_batton a{
    font-size: 16px;
    color: #101010;
    font-weight: 600;
}

.block_batton a:hover{
    color: white;
    text-decoration: none;
}

.action_block{
    position: absolute;
    padding: 3px 10px;
    background-color: rgba(229, 74, 9, 0.58);
    border-radius: 0px 20px 0px 20px;
    bottom: 42px;
    right: 15px;
    color: white;
}
.action_block a{
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.action_block a:hover {
    text-decoration: none;
    color: white;
}

.action:hover {
    box-shadow: 0 0 30px 5px #E54A09;
}

.action {
    box-shadow: 0 1px 4px rgb(231, 105, 12), -23px 0 20px -23px rgb(253, 121, 4), 23px 0 20px -23px rgb(236, 108, 14), 0 0 40px rgba(0, 0, 0, 1.1) inset;
    border-radius: 0 0px 20px 20px; !important;
}

.text_none:hover{
    text-decoration: none;
}

.short_block {
    position: absolute !important;
    top: 24px !important;
    left: 20px !important;
    font-size: 18px;
    color: red;
    cursor: pointer;
}

.short_block:hover{
    color: green;
    font-size: 22px;
}

.Description_block{
    display: none;
    width: 74%;
    height: 84%;
    top: 25px;
    position: absolute;
    background-color: rgba(251, 249, 249, 0.93);
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #717171;
    z-index: 1;
}

.close_block{
    position: absolute !important;
    top: 1px !important;
    right: 2px !important;
    color: red;
    font-size: 18px;
    cursor: pointer;
}

.Description_text{
    margin-top: 12px ;
    clear: both;
    font-size: 11px;
    color: black;
    padding: 5px 5px;

}

.logotip_block{
    margin: 16px auto;
    max-width: 160px;
    max-height: 43px;
}

.logotip img{
    max-width: 160px;
    max-height: 43px;
}

.cart_block{
    margin: 16px auto;
}

.search_block{
    margin: 22px auto;
}

.buy_product{
    width: 135px;
    font-size: 20px;
    background: #11BF11;
    padding: 12px 30px;
    color: white;
    font-weight: 800;
    border-radius: 30px;
}
.buy_product:hover{
    background-color: red;
    cursor: pointer;
}

.old_PRICE_block{
    margin: 10px 22px;
    font-size: 22px;
    text-decoration: line-through;
    color: red;
}

.new_PRICE_block{
    margin: 10px 22px;
    font-size: 30px;
    color: black;
}

#Select_block{

}

.cart_product_block{
    height: 235px !important;
}

.select_count{
    margin: 6px 0;
}

.formGroup{
    position: absolute;
    width: 120px;
    right: 15px;
    bottom: 10px;
}

.all_price_a{
    color: black;
    font-size: 20px;
}

.PRICE{
    margin-bottom: 0px !important;
}

.delete_tovar{
    position: absolute !important;
    right: 20px !important;
    top: 20px !important;
    font-size: 20px !important;
    cursor: pointer !important;
}

.count_basked_block{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #e5e5e5;
    padding: 1px 8px;
    border-radius: 19px;
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.description_delivery_block{
    display: none;
    border: 1px solid #ccc;
    padding: 5px 5px;
    margin-top: 15px;
    border-radius: 7px;
}

.delivery_price_block{
    display: none;
}

.basked_info{
    display: none;
    position: fixed;
    background-color: rgba(169, 152, 152, 0.55);
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 3;
    cursor: pointer;
}

.basked_info_block{
    position: fixed;
    top: 50%;
    left: 35%;
    z-index: 6;
    background: rgb(138, 255, 0);
    padding: 20px 51px;
    box-shadow: 0px 0px 149px rgba(231, 12, 12, 0.99), -23px 0 20px -23px rgb(253, 4, 4), 23px 0 20px -23px rgb(236, 14, 14), 0 0 40px rgba(0, 0, 0, 1.1) inset;
    border-radius: 20px;
}

.basked_info_block a {
    color: #848181;
    font-size: 27px;
}

.to_cart{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.49);
    display: none;
}

.top_nav{
    width: 100% !important;
}
@media (min-width: 768px) {
    .right_nav {
        float: right !important;
    }

    .logotip_nav_block{
        position: absolute !important;
        left: 40%;
    }


    .logotip {
        padding: 3px 0px !important;
    }

}
@media (max-width: 768px) {
    .image_page {
        width: 100%;
    }
}
.image_page{
    float: left;
    margin: 10px 10px;
}

.title_page{
    margin: 0px auto;
    width: 230px;
    text-align: center;
    font-size: 20px;
}

.feedback_block{
     height: 50px;
     position: fixed;
     bottom: 0px;
     left: 95%;
     display: none;
     box-shadow: 0 1px 25px rgb(278, 27, 12), -23px 0 20px -23px rgb(253, 4, 32), 23px 0 20px -23px rgb(236, 14, 14), 0 0 40px rgba(0, 0, 0, 1.1) inset;

 }

.feedback_block:hover{
    box-shadow: 0px 0px 80px 15px #15e4e9;
}